.container p{
    font-size: 13px;
}

#lector{
    text-align: left;
}
#time{
    text-align: right;
}

.container-button{
    width: 100%;  
}
.container-button .btn{
    display: table;
    margin: 0 auto;
}
.btn a{
    color: black;
}
.card{
    margin-right: 5px;
    box-shadow: 10px;
    border-radius: 30px!important;
    margin-bottom:30px;
    
}
.card-img-top{
    border-top-right-radius: 30px!important;
    border-top-left-radius: 30px!important;
    height: 250px;
}

