.instructor{
    border: black;
    height: 100px;
    width: 100px;
    
}

.inctructorCard{
    display:flex;
    justify-content:space-between;
    width: 220px;
}
.instructor img{
    height: 80px;
    width: 80px;
}