.personalInfo p{
    display: inline-block;
    padding: 30px;
    position: flex;
    font-size: 12px!important;
}
#footer{
    margin-top: 50px;
}

#footer a{
    color: black!important;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
