.personalInfo p{
    display: inline-block;
    padding: 30px;
    position: flex;
    font-size: 12px!important;
}


#footer a{
    color: black!important;
}

.footer {
  margin-top: 80px!important;
}
